body {
    
    color: black;
    max-width: 1500px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.6;
}

/*article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid grey;
}*/

.bgi {
    background-image: url("images/bgi.jpg");
    background-color: black;
}

.img_txt_same_row {
    display: inline-block;
}

/*Style for Sheets*/
.big_sheet {
    float: left;
    width: 550px;
    height: auto;
}
/*Style for Parts of Sheets*/
.noodle {
    float: left;
}
